.header {
	position: sticky;
	top: 0;
	display: grid;
	grid-template-columns: 7fr 5fr;
	align-items: center;
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;
	padding: 0 1.5rem;
	z-index: 1;
}
.header h2,
h3,
ul,
li {
	margin: 0;
	padding: 0;
}
.ml-10 {
	margin-left: 10px;
}
.header h2 {
	font-size: 2.5rem;
	font-weight: bold;
	color: #f85555;
}
.header h2 a {
	text-decoration: none;
}
.header h3 {
	font-size: 2rem;
}

.header .navegation {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-content: space-between;
}
.header .navegation li {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	color: rgba(0, 0, 0, 0.2);
}
.navegation li button {
	background-color: transparent;
	border: none;
}
.navegation-login {
	position: relative;
}
.login {
	width: 250px;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 5px;
	right: -150px;
	transform: scale(0);
	transition: 0.6s;
	transform-origin: top;
}
.login.open {
	transform: scale(1);
}
.login-image {
	width: 100px;
	height: 100px;
	color: #ccc;
	margin: 0 auto;
	margin-bottom: 20px;
}
.login input {
	height: 35px;
	border-radius: 8px;
	margin-bottom: 15px;
	font-size: 12px;
}
.login button {
	height: 35px;
	border-radius: 8px;
	background-color: #f85555;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	font-size: 1.2rem;
	border: none;
	margin-bottom: 15px;
}
.login-test {
	background-color: rgba(67, 243, 225, 0.5);
	color: #000;
	padding: 15px;
	border-radius: 8px;
	margin-bottom: 20px;
}
.login-test p {
	margin: 0;
	padding: 0;
	line-height: 2;
	margin-left: 7px;
	font-size: 12px;
	font-weight: normal;
	color: #515151;
}
.login-test p span {
	font-size: 13px;
	font-weight: bold;
	color: #515151;
}
.login-account {
	margin: 0;
	padding: 0;
	line-height: 1;
}

@media screen and (min-width: 768px) {
	.header h2 {
		font-size: 3.5rem;
	}
	.header h3 {
		font-size: 2.5rem;
	}
	.header .navegation li {
		padding: 2rem 0;
	}
	.login {
		right: -180px;
	}
}
@media screen and (min-width: 992px) {
	.header {
		padding-left: 50px;
		grid-template-columns: 6.5fr 5.5fr;
	}
	.header h3 {
		border: 0.5 solid #e6e6e6;
	}
	.header .navegation li {
		border-left: 0.8px solid #e6e6e6;
		padding: 2.5rem 0;
	}
	.login {
		right: -220px;
	}
}
