/**** @Author: Francisco Zapata ****/

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	text-decoration: none;
	list-style: none;
}

.App {
	text-align: center;
	margin-top: 30px;
}

i {
	font-size: 35px;
	color: #fff;
}
